*.env
*.old
*.log
*.bak
__pycache__/
app/venv/
app-main/venv/
examples/venv/
.migrate/
# examples/
shared-project-data/


.bash
app-main/db.sqlite3

.migrate/

shared-project-data/django/

app-main/data.json
.devcontainer/dockerfiles/not-used-anymore/
!.devcontainer/dockerfiles/not-used-anymore/.gitkeep

.dotnet/
.cache/
.gnupg/
.ssh/
.vscode-server/
.onCreateCommandMarker
.postCreateCommandMarker
.postStartCommandMarker
.updateContentCommandMarker
.bashrc
.gitconfig
.bash_history