azure-core==1.30.1
azure-identity==1.16.1
Django==5.2.12
drf-yasg==1.21.15
gunicorn==23.0.0
ldap3==2.9.1
microsoft-kiota-abstractions==1.3.1
microsoft-kiota-authentication-azure==1.0.0
microsoft-kiota-http==1.3.1
msal==1.34.0
msal-extensions>=1.2.0
msgraph-core==1.0.0
python-dotenv==1.0.1
termcolor==2.4.0
whitenoise==6.12.0
django-extensions==4.1