{% extends base_template %}


{% load i18n static %}

{# title #}
{% block title %}Copilot (Preview){% endblock %}


{% block dynamic_head_content %}

{% endblock %}


<!-- headline for the page -->
{% block headline %}Copilot (Preview){% endblock %}

{% block main-content %}
<div class="container my-4">
    <h2>Copilot (Preview)</h2>


    get /active-directory/v1.0/query
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_copilot" class="form-label">Copilot
                <i class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="Text for chatbot" data-bs-html="true"></i>
            </label>
            <textarea id="copilot-submit-textarea-field" name="text" cols="60" rows="1" required="" id="id_text"></textarea>
        </div>
        <button type="submit" id="copilot-submit-btn" class="btn btn-primary">
            Go
            <span id="loadingSpinnerCopilot" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
        </button>
    </form>

</div>

<script src="{% static 'myview/js/copilot.js' %}" defer></script>
<link rel="stylesheet" type="text/css" media="all" href="{% static 'myview/css/copilot.css' %}" />
{% endblock %}