{% extends base_template %}
{% load i18n static %}

{% block title %}MFA Reset{% endblock %}

{% block dynamic_head_content %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'myview/css/mfa-reset.css' %}" />
<script src="{% static 'myview/js/mfa-reset.js' %}" defer></script>
{% endblock %}

{% block headline %}MFA Reset{% endblock %}

{% block main-content %}
<div class="container my-4">
    <div class="row g-4 align-items-start">
        <div class="col-lg-8 col-xl-9">
            <section class="mfa-main">
                <h2>{% trans "MFA User Lookup" %}</h2>

                {% include "myview/partials/mfa_reset/_flash_messages.html" %}
                {% include "myview/partials/mfa_reset/_access_panels.html" %}
                {% include "myview/partials/mfa_reset/_lookup_form.html" %}
                {% include "myview/partials/mfa_reset/_target_scope_status.html" %}
                {% include "myview/partials/mfa_reset/_user_profile_card.html" %}
                {% include "myview/partials/mfa_reset/_methods_panel.html" %}
            </section>
        </div>

        <div class="col-lg-4 col-xl-3">
            {% include "myview/partials/mfa_reset/_history_panel.html" %}
        </div>
    </div>
</div>
{% endblock %}
